<div class="card my-5">
    <div class="card-body">
      <h3>{{ titulo }}</h3>
      <form [formGroup]="frm_factura" (ngSubmit)="actualizar()">
        <div class="form-group">
          <label>Cliente</label>
          <select class="form-control" formControlName="Clientes_idClientes">
            <option value="">Seleccione una opción</option>
            <option *ngFor="let cliente of listaClientes" [value]="cliente.idClientes">
              {{ cliente.Nombres }}
            </option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Fecha</label>
          <input type="date" class="form-control" formControlName="Fecha" />
        </div>
  
        <div class="form-group">
          <label>Sub_total</label>
          <input type="text" class="form-control" formControlName="Sub_total" (blur)="calculos()" />
        </div>
  
        <div class="form-group">
          <label>Sub_total_iva</label>
          <input type="text" class="form-control" formControlName="Sub_total_iva" />
        </div>
  
        <div class="form-group">
          <label>Valor_IVA</label>
          <input type="text" class="form-control" formControlName="Valor_IVA" readonly />
        </div>
  
        <div class="form-group">
          <label>Total a Pagar</label>
          <input type="text" class="form-control" [value]="totalapagar" readonly />
        </div>
  
        <button type="submit" class="btn btn-primary">Actualizar factura</button>
      </form>
    </div>
  </div>
  